.charsheet {
	background-color: #ddd;
	min-width: 800px;
}

h2 {
	font-size: 2em;
	margin-bottom: 10px;
	text-align: center;
}

label {
	display: inline-block;
	width: 47%;
}

input {
	display: inline-block;
	width: 47%;
}
input[type=checkbox], input[type=radio] {
	width: 16px;
}
.sheet-short {
	width: 13%;
}
.sheet-match {
	width: 80%;
}
.sheet-full {
	width: 100%;
}

img {
	max-height: 100px;
}

textarea {
	resize: vertical;
}

/* Targetted styling that only effects elements with these classes */

select.sheet-dtype {
    vertical-align: top;
    width: 60px;
}

